# Basic data types

In [30]:
#integer
d = 21

In [31]:
type(d)

int

In [32]:
isinstance(d,int)

True

In [33]:
#float
d = 21.3

In [34]:
type(d)

float

In [35]:
isinstance(d,float)

True

In [36]:
# string
d = 'data'

In [9]:
type(d)

str

In [11]:
# complex
d = 10+21j

In [12]:
type(d)

complex

In [14]:
# boollean
d = True

In [15]:
type(d)

bool

In [13]:
# data vector types
# list
# tuple
# dictionary
# array
# matrix
# sets

In [16]:
# in python programming we need to understand the keyword list

In [17]:
import keyword

In [18]:
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [19]:
len(keyword.kwlist)

33

In [21]:
num1 = int(input("Tell me which number you are looking at: "))
num2 = int(input('can i add the previous number: '))
print(num1+num2)

Tell me which number you are looking at: 90
can i add the previous number: 91
181

In [22]:
print('5'*100)

5555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555

In [25]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [26]:
print(4,5,6,7)

4 5 6 7

In [27]:
print('Python',21,23)

Python 21 23

In [28]:
print(1,2,3,sep='#')

1#2#3

In [29]:
print(1,2,3,sep='$',end='No ore digit to display!!\n')

1$2$3No ore digit to display!!

In [37]:
d = [[21,3,2,1],[21.1,23.3,43.2],['21','21','32']]

In [38]:
d

[[21, 3, 2, 1], [21.1, 23.3, 43.2], ['21', '21', '32']]

In [42]:
isinstance(d[1],float)

False

In [43]:
isinstance(d[2],int)

False

In [44]:
isinstance(d[2],str)

False

In [46]:
type(d)

list

In [47]:
isinstance(d,list)

True

In [53]:
isinstance(d[0][0],int)

True

In [89]:
# strings
d = 'I am learning data science and machine leaRning '

In [90]:
d

'I am learning data science and machine leaRning '

In [91]:
print(d.upper())

I AM LEARNING DATA SCIENCE AND MACHINE LEARNING

In [92]:
print(d.lower())

i am learning data science and machine learning

In [93]:
print(d.strip())

I am learning data science and machine leaRning

In [94]:
d

'I am learning data science and machine leaRning '

In [95]:
d1 = d.strip()

In [96]:
d1

'I am learning data science and machine leaRning'

In [97]:
d.split()

['I', 'am', 'learning', 'data', 'science', 'and', 'machine', 'leaRning']

In [98]:
d.startswith('I')

True

In [99]:
d.startswith('Am')

False

In [100]:
d.endswith('learning')

False

In [101]:
d1.endswith('leaRning')

True

In [102]:
d.endswith('leaRning ')

True

In [103]:
d2 = d.split()

In [104]:
d2

['I', 'am', 'learning', 'data', 'science', 'and', 'machine', 'leaRning']

In [105]:
print(' '.join(d2))

I am learning data science and machine leaRning

In [106]:
d2.pop(7)

'leaRning'

In [107]:
d2

['I', 'am', 'learning', 'data', 'science', 'and', 'machine']

In [108]:
d2.sort(reverse=True)

In [109]:
d2

['science', 'machine', 'learning', 'data', 'and', 'am', 'I']

In [116]:
help()

Welcome to Python 3.6's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the Internet at http://docs.python.org/3.6/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".

help> q

You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.

In [117]:
list1 = ['science', 'machine', 'learning', 'data', 'and', 'am', 'I']

In [118]:
type(list1)

list

In [120]:
list1[0]

'science'

In [121]:
list1[3]

'data'

In [122]:
list1[-1]

'I'

In [123]:
list1[-3]

'and'

In [124]:
list1.append('Artificial Intelligence')

In [125]:
list1

['science',
 'machine',
 'learning',
 'data',
 'and',
 'am',
 'I',
 'Artificial Intelligence']

In [126]:
list1.append(10)

In [127]:
list1

['science',
 'machine',
 'learning',
 'data',
 'and',
 'am',
 'I',
 'Artificial Intelligence',
 10]

In [128]:
list1.clear()

In [129]:
list1

[]

In [144]:
list1.insert(7,21)

In [145]:
list1

[21, 21, 21, 21, 21]

In [147]:
list1.count(21)

5

In [148]:
# lists are mutable vs tuples, dict, sets are immutable

In [149]:
import os

In [150]:
os.getcwd()

'/Users/pradmishra'

In [156]:
f = open('testfile.txt')

In [157]:
results = f.readlines()

In [159]:
results

['model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb\n',
 'Mazda RX4,21,6,160,110,3.9,2.62,16.46,0,1,4,4\n',
 'Mazda RX4 Wag,21,6,160,110,3.9,2.875,17.02,0,1,4,4\n',
 'Datsun 710,22.8,4,108,93,3.85,2.32,18.61,1,1,4,1\n',
 'Hornet 4 Drive,21.4,6,258,110,3.08,3.215,19.44,1,0,3,1\n',
 'Hornet Sportabout,18.7,8,360,175,3.15,3.44,17.02,0,0,3,2\n',
 'Valiant,18.1,6,225,105,2.76,3.46,20.22,1,0,3,1\n',
 'Duster 360,14.3,8,360,245,3.21,3.57,15.84,0,0,3,4\n',
 'Merc 240D,24.4,4,146.7,62,3.69,3.19,20,1,0,4,2\n',
 'Merc 230,22.8,4,140.8,95,3.92,3.15,22.9,1,0,4,2\n',
 'Merc 280,19.2,6,167.6,123,3.92,3.44,18.3,1,0,4,4\n',
 'Merc 280C,17.8,6,167.6,123,3.92,3.44,18.9,1,0,4,4\n',
 'Merc 450SE,16.4,8,275.8,180,3.07,4.07,17.4,0,0,3,3\n',
 'Merc 450SL,17.3,8,275.8,180,3.07,3.73,17.6,0,0,3,3\n',
 'Merc 450SLC,15.2,8,275.8,180,3.07,3.78,18,0,0,3,3\n',
 'Cadillac Fleetwood,10.4,8,472,205,2.93,5.25,17.98,0,0,3,4\n',
 'Lincoln Continental,10.4,8,460,215,3,5.424,17.82,0,0,3,4\n',
 'Chrysler Imperial,14.7,8,440,230,3.23,5.345,17.42,0,0,3,4\n',
 'Fiat 128,32.4,4,78.7,66,4.08,2.2,19.47,1,1,4,1\n',
 'Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2\n',
 'Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.9,1,1,4,1\n',
 'Toyota Corona,21.5,4,120.1,97,3.7,2.465,20.01,1,0,3,1\n',
 'Dodge Challenger,15.5,8,318,150,2.76,3.52,16.87,0,0,3,2\n',
 'AMC Javelin,15.2,8,304,150,3.15,3.435,17.3,0,0,3,2\n',
 'Camaro Z28,13.3,8,350,245,3.73,3.84,15.41,0,0,3,4\n',
 'Pontiac Firebird,19.2,8,400,175,3.08,3.845,17.05,0,0,3,2\n',
 'Fiat X1-9,27.3,4,79,66,4.08,1.935,18.9,1,1,4,1\n',
 'Porsche 914-2,26,4,120.3,91,4.43,2.14,16.7,0,1,5,2\n',
 'Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.9,1,1,5,2\n',
 'Ford Pantera L,15.8,8,351,264,4.22,3.17,14.5,0,1,5,4\n',
 'Ferrari Dino,19.7,6,145,175,3.62,2.77,15.5,0,1,5,6\n',
 'Maserati Bora,15,8,301,335,3.54,3.57,14.6,0,1,5,8\n',
 'Volvo 142E,21.4,4,121,109,4.11,2.78,18.6,1,1,4,2']

In [162]:
results[0].split(',')

['model',
 'mpg',
 'cyl',
 'disp',
 'hp',
 'drat',
 'wt',
 'qsec',
 'vs',
 'am',
 'gear',
 'carb\n']

In [163]:
results[1].split(',')

['Mazda RX4',
 '21',
 '6',
 '160',
 '110',
 '3.9',
 '2.62',
 '16.46',
 '0',
 '1',
 '4',
 '4\n']

In [164]:
results[2].split(',')

['Mazda RX4 Wag',
 '21',
 '6',
 '160',
 '110',
 '3.9',
 '2.875',
 '17.02',
 '0',
 '1',
 '4',
 '4\n']

In [165]:
gears = [3,4,5,3,4,5,3,4,5,3,4,5,3,3,4,4,5,5,3]

In [166]:
set(gears)

{3, 4, 5}

In [167]:
set1 = {121,123,134,212,345}

set2 = {345,344,567,123,212}

In [168]:
print(set1 | set2)

{121, 134, 212, 567, 344, 345, 123}

In [169]:
print(set1.union(set2))

{121, 134, 212, 567, 344, 345, 123}

In [170]:
print(set1&set2)

{345, 123, 212}

In [171]:
print(set1.intersection(set2))

{345, 123, 212}

In [172]:
print(set1-set2)

{121, 134}

In [173]:
print(set1.difference(set2))

{121, 134}

In [174]:
print(set1^set2)

{121, 134, 567, 344}

In [175]:
print(set1.symmetric_difference(set2))

{121, 134, 567, 344}

In [176]:
print(set1.issubset(set2))

False

In [177]:
print(set2.issubset(set1))

False