In [1]:
2+12

14

In [6]:
x = 23
x*2

46

In [8]:
47/2

23.5

In [9]:
5**2

25

In [10]:
5%2

1

In [11]:
5//2

2

In [19]:
x = 'i am learning data science'

In [20]:
x

'i am learning data science'

In [23]:
type(x)

str

In [25]:
x = []

In [26]:
x

[]

In [27]:
type(x)

list

In [28]:
age = 35

In [29]:
age

35

In [30]:
type(age)

int

In [31]:
income = 25000.00

In [32]:
type(income)

float

In [33]:
hascar = True

In [34]:
type(hascar)

bool

In [35]:
import math

In [36]:
math.exp(10)

22026.465794806718

In [37]:
math.sqrt(100)

10.0

In [38]:
math.log(1000)

6.907755278982137

In [42]:
x = 0/1000

In [43]:
x

0.0

In [44]:
math.isinf(x)

False

In [45]:
x = 'i am learning data science'

In [48]:
x*10

'i am learning data sciencei am learning data sciencei am learning data sciencei am learning data sciencei am learning data sciencei am learning data sciencei am learning data sciencei am learning data sciencei am learning data sciencei am learning data science'

In [49]:
'science' in x

True

In [51]:
y = 'The for loop in Python is used to iterate over a sequence (list, tuple, string) or other iterable objects.Iterating over a sequence is called traversal'

In [52]:
y

'The for loop in Python is used to iterate over a sequence (list, tuple, string) or other iterable objects.Iterating over a sequence is called traversal'

In [56]:
x + ' ' + y

'i am learning data science The for loop in Python is used to iterate over a sequence (list, tuple, string) or other iterable objects.Iterating over a sequence is called traversal'

In [57]:
x+y

'i am learning data scienceThe for loop in Python is used to iterate over a sequence (list, tuple, string) or other iterable objects.Iterating over a sequence is called traversal'

In [58]:
y

'The for loop in Python is used to iterate over a sequence (list, tuple, string) or other iterable objects.Iterating over a sequence is called traversal'

In [59]:
'list' in y

True

In [60]:
y.upper()

'THE FOR LOOP IN PYTHON IS USED TO ITERATE OVER A SEQUENCE (LIST, TUPLE, STRING) OR OTHER ITERABLE OBJECTS.ITERATING OVER A SEQUENCE IS CALLED TRAVERSAL'

In [61]:
y.lower()

'the for loop in python is used to iterate over a sequence (list, tuple, string) or other iterable objects.iterating over a sequence is called traversal'

In [64]:
y.count('l')

7

In [65]:
y.split()

['The',
 'for',
 'loop',
 'in',
 'Python',
 'is',
 'used',
 'to',
 'iterate',
 'over',
 'a',
 'sequence',
 '(list,',
 'tuple,',
 'string)',
 'or',
 'other',
 'iterable',
 'objects.Iterating',
 'over',
 'a',
 'sequence',
 'is',
 'called',
 'traversal']

In [66]:
y.strip()

'The for loop in Python is used to iterate over a sequence (list, tuple, string) or other iterable objects.Iterating over a sequence is called traversal'

In [67]:
12

12

In [71]:
str(12)

'12'

In [69]:
2.0

2.0

In [74]:
i = 10
if i < 3:
    print('less than 3')
elif i < 5:
    print('less than 5')
else:
    print('5 or more than 5')

5 or more than 5

In [78]:
print (y)

The for loop in Python is used to iterate over a sequence (list, tuple, string) or other iterable objects.Iterating over a sequence is called traversal

In [80]:
print ('my nmae')

In [84]:
'''y * 5
y*2
y*4'''

'y * 5\ny*2\ny*4'

In [93]:
a = [12,32,34,54,56,76,78,87,98]

In [94]:
print (a)

[12, 32, 34, 54, 56, 76, 78, 87, 98]

In [97]:
c = []

In [98]:
type(c)

list

In [99]:
c.append(a)

In [100]:
print (c)

[[12, 32, 34, 54, 56, 76, 78, 87, 98]]

In [102]:
c.sort()

In [103]:
print (c)

[[12, 32, 34, 54, 56, 76, 78, 87, 98]]

In [107]:
a.remove(98)

In [108]:
print (a)

[12, 32, 34, 54, 56, 76, 78, 87]

In [110]:
d = []

In [111]:
type(d)

list

In [112]:
r = [32,34,54,56,76,78,87,89,90]

In [116]:
sum100 = 0
for i in r:
    sum100 = sum100 + (i+10)
print (sum100)

686

In [120]:
l = []
l.append('b')
l.append('c')
l.insert(0, 'a')
l
for letter in l:
    print (letter)

a
b
c

In [121]:
#indexing starts from 0

In [123]:
# Program to find the sum of all numbers stored in a list
# List of numbers
numbers = [6, 5, 3, 8, 4, 2, 5, 4, 11]
# variable to store the sum
sum = 0
# iterate over the list
for val in numbers:
    sum = sum+val
# Output: The sum is 48
print("The sum is", sum)

The sum is 48

In [126]:
digits = [0, 1, 5, 10,23]
for i in digits:
    print(i)

0
1
5
10
23

In [127]:
digits = [0, 1, 5]
for i in digits:
    print(i)
else:
    print("No items left.")

0
1
5
No items left.

In [132]:
word = x

In [131]:
x

'i am learning data science'

In [135]:
ind = 0;
letter = word[ind];
while letter != 'd':
    letter = word[ind]
    ind = ind+1
    
print ('index of d')
print (ind)

index of d
15

In [136]:
print(range(10))

range(0, 10)

In [137]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [140]:
for letter in x:
    if letter == "m":
        break
    print(letter)
print("The end")

i

a
The end

In [141]:
x

'i am learning data science'

In [142]:
#shift + enter

In [143]:
for letter in x:
    if letter == "m":
        continue
    print(letter)
print("The end")

i

a

l
e
a
r
n
i
n
g

d
a
t
a

s
c
i
e
n
c
e
The end